@import url("styles/header.css");

:root{
    --cor-de-fundo: #71ecc3;
    --branco: #ffff;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}
body{
    background-color: var(--cor-de-fundo);
}
h1{
    background-color: rgba(68, 238, 145, 0.596);
}