@import url("styles/header.css");

:root{
    --cor-de-fundo: #90e297;
    --branco: #78dd5a;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}
body{
    background-color: var(--cor-de-fundo);
}
h1{
    background-color: rgba(122, 247, 178, 0.596);
}